*.iml
.gradle
fingerprintinglib/local.properties
fingerprintinglib/.idea/vcs.xml
fingerprintinglib/.idea/caches
fingerprintinglib/.idea/libraries
fingerprintinglib/.idea/modules.xml
fingerprintinglib/.idea/workspace.xml
fingerprintinglib/.idea/navEditor.xml
fingerprintinglib/.idea/assetWizardSettings.xml
.DS_Store
fingerprintinglib/build
fingerprintinglib/captures
.externalNativeBuild
.cxx
local.properties
.env
data_analysis_scripts/fingerprints_filenames.json
data_analysis_scripts/fingerprints_filenames_stability.json
data_analysis_scripts/all_cleaned_attributes.csv
data_analysis_scripts/stability_cleaned_attributes.csv
data_analysis_scripts/top_cleaned_stable_attribute_entropies.csv
data_analysis_scripts/top_cleaned_all_stable_attribute_entropies.csv
data_analysis_scripts/all_fingerprint_uniqueness.csv
data_analysis_scripts/stable_fingerprint_uniqueness.csv